RewriteEngine On

RewriteRule ^database.sql - [F,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

Redirect /favicon.ico /files/images/favicon.ico

RewriteRule ^(.*)$ index.php?path=$1 [QSA]