<div class="message-container" data-messageid="{{id}}">
	<div class="message-header">
		<img class="message-header-avatar" src="{{avatarUrl}}"/>
		<div class="message-header-container">
			<div><b>Erstellt von:</b> {{firstName}} {{lastName}} [{{email}}]</div>
			<div><b>Zeit:</b> {{date}}</div>
			<div><b>Gesendet an:</b>
				<div class="message-recipients">
					{{#recipients.limited}}
						<span class="message-recipient-limited">{{.}}</span>
					{{/recipients.limited}}
					{{#recipients.hidden}}
						<span class="message-recipient-hidden">{{.}}</span>
					{{/recipients.hidden}}
					{{#recipients.hiddenCount}}
						<a href="#" class="message-recipients-showall">und {{recipients.hiddenCount}} weitere</a>
					{{/recipients.hiddenCount}}
				</div>
			</div>
		</div>
	</div>

	<div class="message-text">{{{text}}}</div>

	{{#attachments.0}}
		<div class="message-attachments">
			<b>Anh&auml;nge</b>
			<ul>
				{{#attachments}}
					<li><a href="/uploads/{{id}}/{{name}}/{{title}}">{{title}}</a></li>
				{{/attachments}}
			</ul>
		</div>
	{{/attachments.0}}
</div>