<html>
	<body>
		<p>{{firstName}} {{lastName}} hat im internen Bereich des Musikvereins "Orgelfels" Reichental e.V. eine neue Nachricht geschrieben.</p>

		<hr/>

		<p>{{content}}</p>

		{{#attachments.length}}
			<p>
				<ul>
					{{#attachments}}
						<li><a href="{{baseUrl}}/uploads/{{id}}/{{name}}">{{title}}</a></li>
					{{/attachments}}
				</ul>
			</p>
		{{/attachments.length}}

		<hr/>

		<p>Du findest diese Nachricht im <a href="{{baseUrl}}/internalarea/messages/{{messageId}}">internen Bereich</a>.</p>
	</body>
</html>