#addresslist_groups
{
	margin-bottom: 20px;
}

#addresslist_sendmessage
{
	margin-top: 20px;
}

#addresslist_sendmessage_text
{
	width: 100%;
}

@media print
{
	#addresslist_groups, #addresslist_sendmessage
	{
		display: none;
	}
}