.attendancelist_date
{
	font-size: 10px;
	font-weight: normal;
}

.attendancelist_title
{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#attendancelist_table
{
	table-layout: fixed;
}