#dates_groups
{
	margin-bottom: 20px;
}

#dates_info_ics
{
	margin-bottom: 20px;
	background-image: url(/files/icons/ics.png);
	background-repeat: no-repeat;
	background-position: left center;
	height: 64px;
	padding-top: 15px;
	padding-left: 70px;
}

@media print
{
	#dates_groups
	{
		display: none;
	}
}