#dates_groups
{
	margin-bottom: 20px;
}

#dates_groups label
{
	margin-right: 10px;
	font-weight: normal;
}

#dates_info_ics
{
	margin-bottom: 20px;
	background-image: url(/files/icons/ics.png);
	background-repeat: no-repeat;
	background-position: left center;
	height: 64px;
	padding-top: 15px;
	padding-left: 70px;
}