#editprofile_changeemail_current, #editprofile_changeemail_new1, #editprofile_changeemail_new2
{
	width: 300px;
}

#editprofile_profilepicture_editarea, #editprofile_profilepicture_progressarea, #editprofile_profilepicture_upload
{
	display: none;
}

#editprofile_profilepicture_progressbar
{
	position: relative;
}

#editprofile_profilepicture_progressbar_label
{
	position: absolute;
	left: 50%;
	top: 4px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}

#editprofile_profilepicture_upload
{
	margin-top: 20px;
}