button
{
	cursor: pointer;
}

label
{
	cursor: pointer;
}

legend
{
	font-weight: bold;
}

input[type="checkbox"], input[type="file"], input[type="radio"]
{
	cursor: pointer;
}

form input[type="file"], form input[type="password"], form input[type="text"], form select, form textarea
{
	display: block;
	margin-top: 10px;
	margin-bottom: 15px;
}

form select
{
	padding: 5px;
	font-size: 16px;
	border-radius: 5px;
	background-color: #eee;
	border: 1px solid #ccc;
}

form textarea
{
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input[type="password"], input[type="text"], textarea
{
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	background-color: #eee;
	border: 1px solid #ccc;
	box-shadow: 0 0 5px #888;
}

input[type="password"]
{
	padding-left: 30px;
	background-image: url(/files/images/formfields/lock.png);
	background-repeat: no-repeat;
	background-position: 5px center;
}

input[type="submit"]
{
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
}

.date
{
	padding-left: 30px !important;
	background-image: url(/files/images/formfields/date.png);
	background-repeat: no-repeat;
	background-position: 5px center;
	width: 100px;
}

.input-search
{
	padding-left: 30px !important;
	background-image: url(/files/images/formfields/search.png);
	background-repeat: no-repeat;
	background-position: 5px center;
}

form label
{
	font-weight: bold;
}