button, label, input[type="checkbox"], input[type="file"], input[type="radio"], input[type="submit"]
{
	cursor: pointer;
}

legend
{
	font-weight: bold;
}

form textarea
{
	width: 100%;
	font-size: 14px;
	padding: 4px 5px;
	box-sizing: border-box;
}

.input-addon
{
	display: inline-block;
	width: auto;
	height: 20px;
	min-width: 16px;
	padding: 4px 5px;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	background-color: #eee;
	border: 1px solid #ccc;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-right: -1px;
}

.input-container
{
	display: block;
	font-size: 0;
	margin: 10px 0 20px 0;
	white-space: nowrap;
}

.input-container .input-field
{
	float: none;
	margin-left: 0;
	display: inline-block;
	font-size: 14px;
	padding: 4px 6px;
	height: 30px;
	box-sizing: border-box;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid #ccc;
}

.input-container div.input-field
{
	padding: 0;
	height: 30px;
	font-size: 0;
}

.input-container .input-field *
{
	margin: 0;
	padding: 4px 6px;
	height: 20px;
	border: 0;
	border-left: 1px solid #ccc;
	font-size: 14px;
}

.input-container .input-field *:first-child
{
	border-left: 0;
}

.input-container .input-field *:last-child
{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.input-container .input-field-long
{
	width: 300px;
}

.input-label
{
	font-weight: bold;
}

.input-container .input-select
{
	height: 28px;
	font-size: 14px;
}