nav
{
	text-align: center;
}

nav *
{
	z-index: 100;
}

nav ul ul
{
	display: none;
}

nav ul li:hover > ul
{
	display: block;
}

nav ul
{
	background: #efefef;
	background: -moz-linear-gradient(top, #efefef 0%, #bbb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efefef), color-stop(100%, #bbb));
	background: -webkit-linear-gradient(top, #efefef 0%, #bbb 100%);
	background: -o-linear-gradient(top, #efefef 0%, #bbb 100%);
	background: -ms-linear-gradient(top, #efefef 0%, #bbb 100%);
	background: linear-gradient(to bottom, #efefef 0%, #bbb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#bbbbbb', GradientType=0);
	box-shadow: 0 0 9px rgba(0, 0, 0, 0.15);
	padding: 0 20px;
	border-radius: 10px;
	list-style: none;
	position: relative;
	display: inline-table;
}

nav ul:after
{
	content: "";
	clear: both;
	display: block;
}

nav ul li
{
	float: left;
}

nav > ul li:hover
{
	background: #a90329;
	background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a90329), color-stop(44%, #8f0222), color-stop(100%, #6d0019));
	background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
	background: -o-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
	background: -ms-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
	background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: 0 -1px 5px 2px #888;
}

nav ul li:hover a, nav ul li:hover span
{
	color: #fff;
	background-color: transparent;
}

nav ul li a, nav ul li span
{
	display: block;
	padding: 25px 40px;
	color: #757575;
	text-decoration: none;
}

nav ul ul
{
	background: #a90329;
	background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a90329), color-stop(44%, #8f0222), color-stop(100%, #6d0019));
	background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
	background: -o-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
	background: -ms-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
	background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
	box-shadow: 0 1px 5px 2px #888;
	border-radius: 0 0 10px 10px;
	padding: 0;
	position: absolute;
	top: 100%;
}

nav ul ul li
{
	float: none;
	border-radius: 10px;
}

nav ul ul li a, nav ul ul li span
{
	padding: 15px 40px;
	color: #fff;
	max-width: 250px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

nav ul ul ul
{
	position: absolute;
	left: 100%;
	top: 0;
}

.menu_separator
{
	margin-top: 10px;
}