.messages_attachments
{
	padding: 10px;
	border-top: 1px solid #000;
}

.messages_container
{
	margin-top: 20px;
	border: 1px solid #000;
	border-radius: 10px;
}

.messages_container:hover
{
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 1px 1px 20px #000;
}

a.messages_header
{
	text-decoration: none;
}

div.messages_header
{
	padding: 10px;
	border-bottom: 1px solid #000;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	color: #000;
	min-height: 100px;
}

.messages_header_avatar
{
	height: 100px;
	float: left;
	border-radius: 5px;
	box-shadow: 0 0 10px #000;
}

.messages_header_container
{
	margin-left: 110px;
}

.messages_text
{
	padding: 10px;
}

#messages_edit_contextmenu, #messages_hide
{
	display: none;
}