.bold
{
	font-weight: bold;
}

.center
{
	text-align: center;
}

.clear
{
	clear: both;
}

.dialog
{
	display: none;
}

.icon-black
{
	color: #000 !important;
}

.nowrap
{
	white-space: nowrap;
}

.pointer
{
	cursor: pointer;
}

.profilepicture
{
	height: 160px;
}

.toolbar
{
	margin-bottom: 20px;
}

.highlight
{
	background-color: #ff0;
}