.bold
{
	font-weight: bold;
}

.center
{
	text-align: center;
}

.clear
{
	clear: both;
}

.icon-black
{
	color: #000 !important;
}

.nowrap
{
	white-space: nowrap;
}

.pointer
{
	cursor: pointer;
}

.profilepicture
{
	height: 160px;
}