img.movies_item_cover
{
	position: relative;
	z-index: 3;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

img.movies_item_disc
{
	left: 10px;
	position: absolute;
	top: 50px;
	z-index: 1;
}

img.movies_item_disc1
{
	top: 10px;
	z-index: 2;
}

img.movies_item_disc2
{
	top: 80px;
	z-index: 1;
}

img.movies_item_disc
{
	-moz-transform: translate(90px,0) rotate(330deg);
	-webkit-transform: translate(90px,0) rotate(330deg);
	transform: translate(90px,0) rotate(330deg);
}

td.movies_item
{
	position: relative;
	width: 220px;
}

td.movies_available, td.movies_unavailable
{
	background-repeat: no-repeat;
	background-position: center center;
}

td.movies_available
{
	background-image: url(/files/images/movies/available.png);
}

td.movies_unavailable
{
	background-image: url(/files/images/movies/unavailable.png);
}