#notedirectory_options_div1
{
	position: relative;
}

#notedirectory_options_div2
{
	position: absolute;
	right: 0;
	top: -75px;
}

#notedirectory_searchform, #notedirectory_searchstring
{
	display: inline;
}

#notedirectory_selectionmenu
{
	margin-bottom: 20px;
}

#notedirectory_selectionmenu, #notedirectory_selectionmenu .ui-menu
{
	width: 150px;
}