#notedirectoryeditor_categories_list
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 60%;
}

#notedirectoryeditor_categories_list li
{
	cursor: move;
	margin: 0 5px 5px 5px;
	padding: 5px;
}

#notedirectoryeditor_editcategory form input, #notedirectoryeditor_edittitle form input
{
	width: calc(100% - 28px);
}

.notedirectoryeditor_titles_row
{
	cursor: pointer;
}