.pictures_unpublished
{
	color: #ff0000 !important;
}

#pictures_edit_contextmenu
{
	display: none;
}

#pictures_edit_options
{
	margin-bottom: 10px;
}

#pictures_edit_title
{
	width: calc(100% - 28px);
}

#pictures_text
{
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	padding: 5px;
}