#roomoccupancyplan_edit
{
	display: none;
}

#roomoccupancyplan_edit_time_start, #roomoccupancyplan_edit_time_end
{
	display: inline;
}

#roomoccupancyplan_edit_title, #roomoccupancyplan_edit_reservedby
{
	width: 300px;
}