a
{
	color: #a00000;
}

a:hover
{
	color: #000;
}

h3
{
	margin-top: 30px;
}

html, body
{
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 14px;
}

.center
{
	text-align: center;
}

.clear
{
	clear: both;
}

.nowrap
{
	white-space: nowrap;
}

#background
{
	width: 100%;
}

#backgroundimage
{
	width: 100%;
}

#backgroundoverlay
{
	position: absolute;
	width: 100%;
	height: 500px;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}

#backgroundwrapper
{
	position: absolute;
	left: 0px;
	right:0px;
	top: 0px;
	bottom: 0px;
	overflow: hidden;
}

#body
{
	padding-bottom: 110px;
}

@media screen
{
	#backtotop
	{
		position: fixed;
		right: 0px;
		bottom: 0px;
		padding: 10px;
		color: #fff;
		background-color: rgba(0, 0, 0, 0.6);
		border-top-left-radius: 10px;
		cursor: pointer;
	}
	
	#bodycontent
	{
		padding: 10px;
		background: rgba(255, 255, 255, 0.7);
		border-radius: 10px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	}
	
	#container
	{
		position: relative;
		height: auto !important;
		min-height: 100%;
		margin: 0 auto;
		width: 1200px;
	}
}

@media print
{
	#backgroundwrapper, #backtotop, #header
	{
		display: none;
	}
}