#usermanager_edituser_email
{
	width: 425px;
}

#usermanager_edituser_tabs_options label
{
	font-weight: normal;
}

#usermanager_groups
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#usermanager_groups li
{
	cursor: move;
	margin: 0 5px 5px 5px;
	padding: 5px;
}

#usermanager_permissiongroups_applybutton, #usermanager_users_addbutton
{
	margin-bottom: 20px;
}

#usermanager_users_table tbody tr
{
	cursor: pointer;
}