#writemessage_attachments, #writemessage_groups, #writemessage_textfieldset, #writemessage_validtill
{
	margin-bottom: 20px;
}

#writemessage_groups label, #writemessage_validtill label
{
	margin-right: 10px;
	font-weight: normal;
}

#writemessage_validtill_date
{
	display: inline;
}